@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #666;
    background: #FFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url(../images/iu_quizapp_bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.quizapp-blue{
    color: #FFF;
    background: linear-gradient(90deg, #52E0FF 0.01%, #318699 100.01%);
}
.quizapp-blue:hover{
    color: #FFF;
}